In [5]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [293]:
columns=['Movie_ID','Title','Year','Genre']
df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [Movie_ID, Title, Year, Genre]
Index: []

In [197]:
URL = {2000:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2000',
       2001:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2001',
       2002:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2002',    
       2003:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2003',
       2004:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2004',
       2005:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2005',
       2006:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2006',
       2007:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2007'
      }
id = 1 
for key, url in URL.items():
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.findAll('table', {'class':'wikitable'})[1].tbody
    rows = table.find_all('tr')
    for i in range(1, len(rows)):
        tds = rows[i].find_all('td')
        values = [id,tds[0].text, key, tds[3].text]
        id+=1
        df = df.append(pd.Series(values, index=columns), ignore_index=True)
df.to_csv('asd.csv')

In [261]:
URL = {2008:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2008',
       2009:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2009',
       2010:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2010'
      }
id=1
for key, url in URL.items():
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    tbl = soup.findAll('table', {'class':'wikitable'})
    for t in tbl:
        table=t.tbody
        rows = table.find_all('tr')
        for i in range(1, len(rows)):
            tds = rows[i].find_all('td')
            if len(tds)==5:
                values = [id, tds[1].text, key, tds[4].text.replace('\n','')]

            elif len(tds)==4:
                values = [id, tds[0].text, key, tds[3].text.replace('\n','')]

            elif len(tds)==6:
                values = [id, tds[2].text, key, tds[5].text.replace('\n','')]

            id+=1
            df = df.append(pd.Series(values, index=columns), ignore_index=True)
df.drop_duplicates(inplace=True)
df.to_csv('asd.csv')

In [294]:
URL = {
       2011:'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2011'
      }
id=1
for key, url in URL.items():
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    tbl = soup.findAll('table', {'class':'wikitable'})
    for t in tbl:
        table=t.tbody
        rows = table.find_all('tr')
        for i in range(1, len(rows)):
            tds = rows[i].find_all('td')
            if len(tds)==7:
                values = [id, tds[2].text, key, tds[3].text.replace('\n','')]

            elif len(tds)==5:
                values = [id, tds[0].text, key, tds[1].text.replace('\n','')]

            elif len(tds)==6:
                values = [id, tds[1].text, key, tds[2].text.replace('\n','')]

            id+=1
            df = df.append(pd.Series(values, index=columns), ignore_index=True)
df.drop_duplicates(inplace=True)
df.to_csv('asd.csv')

In [204]:

url = 'https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2017'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
tbl = soup.findAll('table', {'class':'wikitable'})[1:]
for t in tbl:
    table=t.tbody
    rows = table.find_all('tr')
    for i in range(1, len(rows)):
        tds = rows[i].find_all('td')
        if len(tds)==8:
                values = [id, tds[2].text, 2017, tds[5].text.replace('\n','')]

        elif len(tds)==7:
            values = [id, tds[1].text, 2017, tds[4].text.replace('\n','')]

        elif len(tds)==6:
            values = [id, tds[0].text, 2017, tds[3].text.replace('\n','')]
        id+=1
        df = df.append(pd.Series(values, index=columns), ignore_index=True)
df.to_csv('asd.csv')

In [ ]:
bn

In [297]:
tds = rows[1].find_all('td')
values = [tds[2].text, tds[1].text, tds[5].text]
values

['English Vinglish',
 '5\n',
 'Sridevi, Priya Anand, Mehdi Nebbou, Amitabh Bachchan[68]\n']

In [228]:
tds = rows[6].find_all('td')
values = [tds[1].text, tds[4].text, tds[4].text]
values

['Sunday', 'Action, Comedy\n', 'Action, Comedy\n']

In [234]:
tds = rows[3].find_all('td')
values = [tds[1].text, tds[4].text, tds[4].text]
values

['Halla Bol', 'Social\n', 'Social\n']

In [154]:
tds = rows[8].find_all('td')
values = [tds[0].text, tds[3].text, tds[5].text]
values

['U, Me Aur Ghar', 'Romance/Drama', '[29]\n']

In [159]:
tds = rows[9].find_all('td')
values = [tds[1].text, tds[4].text, tds[6].text]
values

['Runningshaadi.com', 'Comedy', '[30][31]\n']

In [165]:
tds = rows[10].find_all('td')
values = [tds[0].text, tds[3].text, tds[5].text]
values

['The Ghazi Attack', 'Action', '[32][33]\n']

In [167]:
tds = rows[11].find_all('td')
values = [tds[0].text, tds[3].text, tds[5].text]
values

['Irada', 'Thriller/drama', '[34]\n']

In [169]:
tds = rows[12].find_all('td')
values = [tds[0].text, tds[3].text, tds[5].text]
values

['Chauhar', 'Romance', '[35]\n']

In [172]:
tds = rows[13].find_all('td')
values = [tds[1].text, tds[4].text, tds[6].text]
values

['Rangoon', 'War/drama', '[36][37]\n']